.App {
  text-align: center;
}

.App-header-small {
  background-color: #f0f0f0;
  padding: 10px;
}

.App-header-small h1 {
  color: #e63946;
  font-size: 1.2em;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}